* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.set-margin-row {
    margin-right: 0px;
    margin-left: 0px;
    height: 100%;
}

.titulos {
    position: relative;
    z-index: 1;
    top: -70px;
    height: 90px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .titulos {
        top: -61px;
    }
}

/* Header */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/header.jpg);
    background-size: cover;
    /* height: 115vh; */
    width: 100%;
    height: 115vh;
    background-position: center center;
    padding-bottom: 2%;
    display: block;
}

.txt-principal {
    margin-top: 40%;
    animation-name: mover;
    animation-duration: 1.5s;
    animation-fill-mode: both;
} 

.txt {
    color: rgba(255, 255, 255, 0.637);
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 100;
}

@keyframes mover {
    from {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    to {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

/* Títulos */
h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; 
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300; 
}

h2 {
    color: #fff;
    font-size: 190%; 
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    position: relative;
    z-index: 1;
    top: 100px;
}

h3 {
    color: #fff;
    font-size: 100%; 
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: bold; 
}

/* Botões */
.btn-ghost {
    border: 1px solid #df1d16;
    color: #df1d16;
}

.btn-full {
    background-color: #df1d16;
    border: 1px solid #df1d16;
    color: #fff;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn-full:link,
.btn-full:visited  {
    background-color: #df1d16;
    border: 1px solid #df1d16;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited  {
    border: 1px solid #df1d16;
    color: #df1d16;
}

.btn:hover,
.btn:active {
    background-color: #a0160c;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #a0160c;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #a0160c;
    color: #fff;
}

.btn-full:link,
.btn-full:visited  {
    background-color: #df1d16;
    border: 1px solid #df1d16;
    color: #fff;
    margin-right: 15px;
}

/* Menu */
.logo {
    height: 100px;
    width: auto;
    float: left;
}

.nav-link {
    padding: 8px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-link:link,
.nav-link:visited {
    padding: 8px 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 2px solid #df1d16;
}

nav {
    background-color: rgba(0, 0, 0, 0.603);
    height: 100px;
    margin-bottom: 10%;
}

#menu {
    margin-right: 10%;
}

@media only screen and (max-width: 767px) {
    #menu {
        background-color: rgb(13, 13, 13);
        margin-right: 0%;
        width: 100%;
    }

    nav {
        height: 97px;
    } 

    .navbar-brand {
        width: 29%;
        height: inherit;
    }

    .logo {
        width: 100%;
        height: auto;
    }
}

/* Especializações */
#especializacoes {
    background-color: white;
    width: 100%;
    padding-bottom: 3%;
}

@media only screen and (max-width: 767px) {
    #especializacoes {
        height: 100%;
    }
}

#especializacoes > div > h2{
    color: black;
}

@media only screen and (min-width: 768px) {
    #especializacoes {
        height: 80vh;
    }
}

.img-especializacoes {
    height: 100px;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

.item-especializacoes {
    height: 100%;
    margin-bottom: 7%;
}

.item-especializacoes:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.txt-especializacoes {
    position: relative;
    top: 15px;
    left: 0px;
    text-align: center;
    padding-top: 4%;
    color: black;
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* Imagens */
#imagens {
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    margin-top: 87px;
}

#slider-imagens {
    height: 85%;
    width: 100%;
}

.height-100 {
    height: 100%;
}

/* Cidade atendida */
#cidade-atendida {
    background-color: #f50c04e3;
}

#imagem-cidade {
    width: 100%;
    border-radius: 3%;
}

#icone-mapa {
    height: 45px;
}

#endereco {
    margin-top: 10%;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    #endereco {
        margin-top: 0%;
    }

    #imagem-cidade {
        margin-top: 50%;
    }

    #cidade-atendida {
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #cidade-atendida {
        height: 100vh;
    }

    #cidade-atendida > .row {
        margin-top: 5%;
    }
}

/* Depoimentos */
#depoimentos {
    background-color: #ffffff;
    height: 80vh;
    color: black;
}

#depoimentos > div > h3 {
    color: black;
}

#depoimentos > div > div > h3 {
    margin-top: 7%;
    margin-left: 13%;
    color: black;
}

#depoimentos > div > h2 {
    color: black
}

#depoimentos > div.row {
    margin-top: 8%;
    padding: 4%;
}

.icone-depoimentos {
    width: 5%;
}

.imagem-depoimentos {
    width: 10%;
    border-radius: 100%;
    float: left;
}

@media only screen and (max-width: 768px) {
    #depoimentos > div.row {
        margin-top: 50%;
    }
}